<div class="section">
        <div class="hero-slider">
            <div class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper" id="swiper-wrapper-11d210a295de54473" aria-live="polite" style="transition: all 0ms ease 0s;"><div class="hero-slide-item swiper-slide swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" role="group" aria-label="1 / 4" style="width: 1305px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;">

                        <!-- Hero Slider Bg Image Start -->
                        <div class="hero-slide-bg">
                             <%= image_tag("century-banner.jpg", alt: "Slider Image") %>
                         </div>
                        <!-- Hero Slider Bg Image End -->

                        <!-- Hero Slider Content Start -->
                        <div class="container">
                            <div class="hero-slide-content">
                                <h2 class="title">
                                    Trend Fashion<br>
										Collection
                                </h2>
                                <p>Up to 40% off selected Product</p>
                                <a href="shop-grid.html" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                            </div>
                        </div>
                        <!-- Hero Slider Content End -->

                    </div>

                    <!-- Hero Slider Item Start -->
                    <div class="hero-slide-item swiper-slide swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="2 / 4" style="width: 1305px; opacity: 1; transform: translate3d(-1305px, 0px, 0px); transition: all 0ms ease 0s;">
                        <!-- Hero Slider Bg Image Start -->
                        <div class="hero-slide-bg">
                          <%= image_tag("century-banner.jpg", alt: "Slider Image") %>
                        </div>
                        <!-- Hero Slider Bg image End -->

                        <!-- Hero Slider Content Start -->
                        <div class="container">
                            <div class="hero-slide-content">
                                <h2 class="title">
                                    Women New <br>
										Collection
                                </h2>
                                <p>Up to 70% off selected Product</p>
                                <a href="shop-grid.html" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                            </div>
                        </div>
                        <!-- Hero Slider Content End -->
                    </div>
                    <!-- Hero Slider Item End -->

                    <!-- Hero Slider Item Start -->
                    <div class="hero-slide-item swiper-slide swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" role="group" aria-label="3 / 4" style="width: 1305px; opacity: 0; transform: translate3d(-2610px, 0px, 0px); transition: all 0ms ease 0s;">

                        <!-- Hero Slider Bg Image Start -->
                        <div class="hero-slide-bg">
                            <%= image_tag("century-banner-2.jpg", alt: "Slider Image") %>
                        </div>
                        <!-- Hero Slider Bg Image End -->

                        <!-- Hero Slider Content Start -->
                        <div class="container">
                            <div class="hero-slide-content">
                                <h2 class="title">
                                    Trend Fashion<br>
										Collection
                                </h2>
                                <p>Up to 40% off selected Product</p>
                                <a href="shop-grid.html" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                            </div>
                        </div>
                        <!-- Hero Slider Content End -->

                    </div>
                    <!-- Hero Slider Item End -->

                <div class="hero-slide-item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="4 / 4" style="width: 1305px; opacity: 0; transform: translate3d(-3915px, 0px, 0px); transition: all 0ms ease 0s;">
                        <!-- Hero Slider Bg Image Start -->
                        <div class="hero-slide-bg">
                            <img src="assets/images/slider/slide-1.jpg" alt="Slider Image">
                        </div>
                        <!-- Hero Slider Bg image End -->

                        <!-- Hero Slider Content Start -->
                        <div class="container">
                            <div class="hero-slide-content">
                                <h2 class="title">
                                    Women New <br>
										Collection
                                </h2>
                                <p>Up to 70% off selected Product</p>
                                <a href="shop-grid.html" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                            </div>
                        </div>
                        <!-- Hero Slider Content End -->
                    </div></div>

                <!-- Swiper Pagination Start -->
                <div class="swiper-pagination d-md-none swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
                <!-- Swiper Pagination End -->

                <!-- Swiper Navigation Start -->
                <div class="home-slider-prev swiper-button-prev main-slider-nav d-md-flex d-none" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-11d210a295de54473"><i class="pe-7s-angle-left"></i></div>
                <div class="home-slider-next swiper-button-next main-slider-nav d-md-flex d-none" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-11d210a295de54473"><i class="pe-7s-angle-right"></i></div>
                <!-- Swiper Navigation End -->

            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </div>
