 <div class="section section-margin">
        <div class="container">

            <div class="row mb-n8">

            <% @category.products.each do |i| %>
                <div class="col-md-6 col-lg-4 mb-8 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <!-- Single Blog Start -->
                    <div class="blog-single-post-wrapper">
                        <div class="blog-thumb">
                            <a class="blog-overlay" href="blog-details.html">
                                <%= image_tag(i.img, alt: "Blog Post") %>
                             </a>
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <span>By : <a href="#"><%= i.price %></a></span>
                                <span><%= i.old_price %></span>
                            </div>
                            <h3 class="title"><a href="blog-details.html"><%= i.title %></a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempo</p>
                            <a href="blog-details.html" class="link">Read More</a>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
           <% end %>

            <div class="row mb-2 mb-lg-0">

                <!-- Pagination Start -->
                <div class="col aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <nav class="mt-8 pt-8 border-top d-flex justify-content-center">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination End -->

            </div>

        </div>
    </div>
