<div class="section section-margin">
  <div class="container">
    <%= render 'product/partials/product' %>

    <%= render 'product/partials/description' %>

    <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                                <h2 class="title pb-3">You Might Also Like</h2>
                                <span></span>
                                <div class="title-border-bottom"></div>
                            </div>
    <%= render 'product/partials/related' %>

  </div>
</div>
